.switch{
    height: 30px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 5px;
   
    .item {
      background-color: rgb(213, 230, 62);
      display: hidden;
    }
    .active{
        display: block
    }
}
// button{
//     all: unset;
//     height: 25px;
//     width: 40px;
// }

.main{
    display: flex;
    gap: 10px;
    
    p{
        font: 100;
    }

    .active{
        font-weight: bolder;
    }
}